.navigation {

    .border-right{
        border-right: 2px solid white;
        
    }

  
    nav {
        .center {
            ul {
                li {
                    a {
                        color: white;
                        font-size: 14px;
                    }
                }
            }

        }

    }

    &.uk-sticky-below {
        nav {

            background-color: #d4a74f;

            .center {
                ul {
                    li {
                        a {
                            color: #17532c;
                        }
                    }
                }

                .burgur {
                    color: white
                }
            }

        }
    }

    .loginBtn {
        width: 5rem;
        height: 3rem;
        background: transparent;
        border-color: #d4a74f;
        color: #d4a74f;
        font-weight: 800;
        border-radius: 5rem;

    }

    .loginBtn:hover {
        width: 5rem;
        height: 3rem;
        background: #d4a74f;
        border-color: #d4a74f;
        color: white;
        border-radius: 5rem;

    }

}