.main {
    * {
        margin: 0;
        padding: 0;
    }

    .main {
        width: 100%;
        height: 100rem;
    }

    video {
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }

    .content {
        position: absolute;
        top: 0;
        color: white;
        width: 100%;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .6) !important;
        //  background-color: #000000cc; 
    }
}